html, body {
    font-size: 16px;
    font-family: Ubunut, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#map {
    height: 100%;
}

body {
    background-image: url(../images/road-220058_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

h1 {
    font-size: 8rem;
    font-weight: 700;
    animation: 2s  0s 1 slideInFromTop;
    animation-timing-function: cubic-bezier(0, 0, 0, 1.15);
}

h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
    animation: 1s 0s 1 slideInFromTop;
    animation-timing-function: cubic-bezier(0, 0, 0, 1.15);
}

form {
    animation: 1ms ease-out 0s 1 slideInFromTop;
}

.input {
    width: 20rem;
    height: 3rem;
    border-radius: 0.8rem;
    border-color: #000000;
}

.addBtn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Ubuntu, sans-serif;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 0.6rem;
    border: solid 2px black;
    transition: 0.3s;
}

.addBtn:hover {
    cursor: pointer;
    background-color: #000000;
    color: #f9f9f9;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    cursor: pointer;
    position: relative;
    width: 90%;
    align-content: center;
    padding: 0.75rem 0.5rem 0.75rem 2.5rem;
    background: #eee;
    font-size: 1.125rem;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.5rem 1rem 0.75rem 1rem;
}

.close:hover {
    background-color: #f44336;
    color: white;
}